aiogram==2.0
aiohappyeyeballs==2.3.4
aiohttp==3.10.1
aiosignal==1.3.1
asgiref==3.8.1
attrs==24.1.0
Babel==2.15.0
beautifulsoup4==4.12.3
bs4==0.0.2
certifi==2024.7.4
charset-normalizer==3.3.2
Django==5.0.7
djangorestframework==3.15.2
frozenlist==1.4.1
idna==3.7
instaloader==4.12.1
multidict==6.0.5
requests==2.32.3
setuptools==72.1.0
soupsieve==2.5
sqlparse==0.5.1
tzdata==2024.1
urllib3==2.2.2
yarl==1.9.4
