{% extends "base.html" %}
{% block content %}
<header>
        <h1>Instagram Downloader Service</h1>
        <p>Login to your account</p>
    </header>
    <main>
        <section class="login-section">
            <h2>Login</h2>
            <form method="POST" class="auth-form">
                {% csrf_token %}
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                <button type="submit" class="auth-button">Login</button>
            </form>
            <p>Don't have an account? <a href="register.html">Register here</a></p>
        </section>
    </main>
{% endblock content %}